@media (max-width: 992px) {
  .navbar {
    gap: 10px;
  }
  .cart-icon {
    height: 43px;
    margin-right: 0rem;
    margin-top: 4px;
  }
  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background-color: rgb(11, 75, 194);
    border: 2px solid aqua;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 43px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }
  .navbar-list a {
    font-size: 18px;
  }
  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }
  .menu-label img {
    height: 40px;
    width: 45px;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }

  .hero-info {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .hero-info h1 {
    width: 90%;
    max-width: 500px;
    min-width: unset;
  }
  .hero-info p {
    width: 60%;
    max-width: 600px;
  }
  .hero-img {
    display: none;
  }
  #text-info h3 {
    text-align: center;
    width: 80%;
  }
  .info-cards {
    width: 90%;
    height: 330px;
    justify-content: center;
  }
  .info-cards p {
    width: 90%;
  }
  .contact-img {
    display: none;
  }
  .footer-links {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .cart {
    left: 0;
    width: 100%;
    border: none;
  }
  .cart-item {
    flex-wrap: wrap;
  }
}
