@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,200;1,600&family=Fragment+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
}
body {
  background-image: url(https://cdn.pixabay.com/photo/2017/09/06/13/21/blue-2721435_1280.jpg);
}
/* header */

.header {
  background: #180950;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px;
  position: fixed;
  top: 0;
}
.logo {
  width: 4%;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  gap: 150px;
}
.navbar-list {
  gap: 30px;
}
.navbar-list a {
  color: gray;
  font-size: 20px;
  font-weight: 600;
}
a:hover {
  color: white;
}
.navbar-list li:first-child > a {
  color: #02cecb;
  font-weight: 800;
}
.cart-icon {
  font-weight: 600;
  border-radius: 10px;
  height: 50px;
  padding: 12px 18px;
  margin-right: 2rem;
  color: var(--text-white);
  cursor: pointer;
  border: 1px solid rgb(23, 201, 255);
}

/* hero */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}
#hero {
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.hero-info h1 {
  background: linear-gradient(to right, #616161, #9bc5c3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 50px;
  width: 80%;
  font-weight: 800;
}
.hero-info p {
  font-size: 17px;
  width: 70%;
  color: #b4ffff;
}
.hero-info p > span {
  font-weight: 800;
}
.botones {
  display: flex;
  gap: 50px;
}

.botones a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
  background-color: #180950;
  width: 120px;
  border-radius: 10px;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 600;
}
.hero-img {
  width: 30%;
  display: flex;
  flex-direction: column;
  background: #b4ffff;
  padding: 10px;
  border-radius: 20px;
  justify-content: center;
}
#text-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin-top: 40px;
  padding: 0px 50px;
}
.info {
  background: linear-gradient(to right, #616161, #9bc5c3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.info h3 {
  background: linear-gradient(to right, #616161, #9bc5c3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
}
.info p {
  text-align: center;
  width: 70%;
  padding-bottom: 10px;
  font-weight: 600;
  color: #b4ffff;
  font-size: 17px;
}
#cart-toggle,
#menu-toggle,
.menu-label {
  display: none;
}
.cart {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  background: #017bab;
  border-left: 1px solid #180950;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  display: none;
  z-index: 2;
}
.cart::-webkit-scrollbar {
  display: none;
}
.cart h2 {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #180950;
  padding: 20px;
  border: 1px solid cyan;
  border-radius: 10px;
}
.cart-item img {
  width: 65px;
  height: 65px;
}
.item-info {
  display: flex;
  flex-direction: column;
}
.item-tittle {
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.item-bid {
  color: white;
  font-weight: 300;
  font-size: 12px;
}
.item-price {
  background: blueviolet;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 16px;
  font-weight: 800;
}
.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  color: white;
  font-weight: 400;
  border-radius: 4px;
}
.item-quantity {
  color: white;
}
.up {
  border: 1px solid cyan;
}
.down {
  background-color: #180950;
  border: 1px solid cyan;
}
.divider {
  border: 0.5px solid white;
  margin-top: 20px;
}
.cart-total {
  display: flex;
  justify-content: space-between;
}
.cart-total p {
  color: white;
  font-weight: 700;
}
.cart-total span {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.btn-add {
  width: 100%;
  height: 40px;
  background: #180950;
  border: none;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}
#cart-toggle:checked + .cart {
  display: flex;
}

/* cards */
#cards {
  padding: 70px 0;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
#cards h2 {
  font-size: 32px;
  font-weight: 600;
  color: #180950;
  text-align: center;
  padding: 30px 15px;
}

.info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.info-cards {
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: rgba(7, 7, 153, 0.651);
  border-radius: 10px;
  cursor: pointer;
}
.info-cards img {
  width: 100px;
}
.info-cards h3 {
  font-size: 25px;
  font-weight: 600;
  color: #180950;
}
.info-cards p {
  font-size: 14px;
  font-weight: 600;
}
/* contact */
#contact {
  padding: 70px 0;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
#contact h2 {
  font-size: 32px;
  font-weight: 600;
  color: #180950;
  text-align: center;
  padding: 30px 15px;
}
.contact-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}
.contact-izq {
  display: flex;
  flex-direction: column;
}

.contacto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 5px;
}

.contacto img {
  height: 35px;
}
.contacto p {
  font-size: large;
}
.contact-img {
  width: 40%;
  display: flex;
  flex-direction: column;

  padding: 10px;
  border-radius: 20px;
  justify-content: center;
}

footer {
  background: rgba(7, 7, 153, 0.651);
  color: #02cecb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 0;
}
footer a,
footer p {
  color: aquamarine;
  font-weight: 300;
  font-size: 14px;
}
footer span {
  font-weight: 600;
  color: azure;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* formulario de login */
#form-login {
  width: 400px;
  height: 340px;
  background: #180950;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #017bab;
  border-radius: 4px;
  color: white;
}
#form-login h5 {
  text-align: center;
  margin: 0;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}

#form-login p {
  height: 40px;
  text-align: center;
}
#form-login a {
  color: white;
  text-decoration: none;
}
#form-login a:hover {
  text-decoration: underline;
}

.text-login {
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 14px;
  font-weight: bold;
}
.button-login {
  width: 100%;
  height: 40px;
  background: #017bab;
  border: none;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}
.button-login:hover {
  background-color: #02cecb;
  border: 2px solid rgb(23, 201, 255);
}

/* Formulario de registro */
#form-register {
  width: 400px;
  background-color: #180950;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-top: 4px solid #017bab;
  border-radius: 4px;
  color: white;
}
#form-register h4 {
  text-align: center;
  margin: 0;
  height: 40px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}
#form-register p {
  height: 40px;
  text-align: center;
}
#form-register a {
  color: white;
  text-decoration: none;
}
#form-register a:hover {
  text-decoration: underline;
}

.text-register {
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 14px;
  font-weight: bold;
}
.button-register {
  width: 100%;
  height: 40px;
  background: #017bab;
  border: none;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}
.button-register:hover {
  background-color: #02cecb;
  border: 2px solid rgb(23, 201, 255);
}
